<!DOCTYPE html>
<html>
  <head>
    <title>MyСloud</title>
    <link href="/style.css" rel="stylesheet">
    <link href="/image.png" rel="icon">
  </head>
  <body>
    <header>
			<h1>MyCloud</h1>
			<br>
		</header>
		<div id="menu">
			<button id="btn" class="btn" onclick="location.href = '/logout'">Logout</button>
      <button id="btn" class="btn" onclick="location.href = 'https://f90f523f-fdf7-47ef-9d3a-aa45c46c45b5-00-2eiu0kb4btuzx.picard.replit.dev/'">Media</button>
      <br><br><br>
      <h3>Avaible Files:</h3><br>
      <p><a href="ADMIN_Files/windows.keys.txt" download>WinKeys</a></p>
      <p><a href="https://drive.google.com/file/d/1vYK8udU8D0FjI4h4M34KPXmKfV5vJWZK/view?usp=drive_link" download>PhotoArchive1</a></p>
		</div>
  </body>
</html>