<!DOCTYPE html>
<html>
  <head>
    <title>Сloud</title>
    <link href="/style.css" rel="stylesheet">
    <link href="/image.png" rel="icon">
  </head>
  <body>
    <header>
			<h1>Cloud</h1>
			<br>
		</header>
		<div id="menu">
			<button id="btn" class="btn" onclick="location.href = '/logout'">Logout</button>
      
      <br><br><br>
      <h3>Avaible Files:</h3><br>
      <p><a href="Files/windows.keys.txt" download>WinKeys</a></p>
      <p><a href="Files/nd.zip" download>N/D</a></p>
		</div>
  </body>
</html>