<DOCTYPE html>
<html>
  <head>
    <title>Entrance</title>
    <link href="/loginsignup.css" rel="stylesheet">
    <link href="/image.png" rel="icon">
  </head>
  <body>
    <h3>Cloud of @aksolotly_kirill</h3>
    <br><br><br>
    <form action="/loginsubmit" method="post">
      <h3>User Name</h3><input name="username" placeholder="type ur username" required><br><br>
      <h3>Password</h3><input type="password" name="password" placeholder="type ur pass" required><br><br><br>
      <input type="submit" value="Login">
      <br><br><br>
    </form>
  </body>
</html>
