<DOCTYPE html>
<html>
  <head>
    <title>Регистрация Пользователя</title>
    <link href="/loginsignup.css" rel="stylesheet">
    <link href="/image.png" rel="icon">
  </head>
    <br><br><br>
    <form action="/createaccount" method="post">
      <h3>Регистрация Нового Пользователя:</h3>
      <h4>Login</h3><input name="newusername" placeholder="Придумайте никнейм" required><br><br>
      <h4>Password</h3><input type="password" name="newpassword" placeholder="Придумайте Пароль" required><br><br><br>
      <input type="submit" value="Создать">
      <br><br><br>
    </form>
  </body>
</html>