<DOCTYPE html>
<html>
  <head>
    <title>Регистрация</title>
    <link href="/loginsignup.css" rel="stylesheet">
    <link href="/image.png" rel="icon">
  </head>
    <br><br><br>
    <form action="/createaccount" method="post">
      <h3>Имя</h3><input name="newusername" placeholder="Напишите Имя" required><br><br>
      <h3>Пароль</h3><input type="password" name="newpassword" placeholder="Напишите Пароль" required><br><br><br>
      <input type="submit" value="Зарегистрироваться">
      <br><br><br>
    </form>
    <p><a href="/login">Войти В Аккаунт</a></p>
  </body>
</html>